<!doctype html>
<title>Hello from Flask</title>
<h1>Hello {{ name }}!</h1>
<form action="http://127.0.0.1:5000/" method="post">
  <p>Enter City:</p>
  <p><input type="text" name="city"/></p>
  <p>Enter Checkin Date:</p>
  <p><input type="text" name="checkin"/></p>
  <p>Enter Checkout Date:</p>
  <p><input type="text" name="checkout"/></p>
  <p><input type="submit" value = "Submit" /></p>
</form>
{% if showTable %}
<table>
  <th> ID </th>
  <th> Hotel Name </th>
  <th> Number of Reviews </th>
  <th> Address </th>
  <th> Number of Stars </th>
  <th> Amenities </th>
  <th> Image </th>
  <th> Snaptravel Price </th>
  <th> Hotel.com Price </th>
  {% for hotel in data %}
  <tr>
    <td> {{ hotel.id }} </td>
    <td> {{ hotel.hotel_name }} </td>
    <td> {{ hotel.num_reviews }} </td>
    <td> {{ hotel.address }} </td>
    <td> {{ hotel.num_stars }} </td>
    <td>
      {% for a in hotel.amenities %}
      <p>{{ a }}</p>
      {% endfor %}
    </td>
    <td> <img src={{hotel.image_url}} height=100 width=100> </td>
    <td> {{ hotel.price }} </td>
    <td> {{ hotel.hotelsPrice }} </td>
  </tr>
  {% endfor %}
</table>
{% endif %}